{% extends "base.html" %}
{% load static %}
<script src="{% static "confirmation.js" %}"></script>
<script src="{% static "jquery-3.5.1.min.js" %}"></script>
<ul>
    {% for product_cart in products_cart %}
        <li> Name: {{ product_cart.product.name }}<br>
            Price: {{ product_cart.product.price }} zł<br>
            Quanity: {{ product_cart.quantity }}szt <br>
        </li>
    {% endfor %}
</ul>
<h4>Total price:<p id="total_price">{{ total_price }} zł</p></h4>
<form method="post" action="">
    {% csrf_token %}
    <input id="confirm" type="submit" value="confirm order" class="btn btn-primary btn-sm mr-2 my-lg-n4">
</form>
<p id="confirmation"></p>