{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block body %}


    {% if user.is_authenticated %}
        Welcome {{ user.username }}
        <p></p>
        <a href="{% url "logout" %}">
            <button>log out</button>
        </a>
        <a href="{% url "products list" %}">
            <button>products list</button>
        </a>
        <a href="{% url "articles list" %}">
            <button>articles list</button>
        </a>
        <a href="{% url "comments list" %}">
            <button>comments list</button>
        </a>
        <a href="{% url "entry" %}">
            <button>entry</button>
        </a>


    {% else %}

        <h3>Your are not authenticated</h3>
        <a href="{% url 'login' %}">back to sign in</a>

    {% endif %}

{% endblock %}